.container {
  padding: 30px;
  background-color: #f5f5f5;
  min-height: calc(100vh - 64px);
  .content {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    .box {
      border: 1px solid #EBEBEB;
      border-radius: 6px;
      background-color: #FFFFFF;
      margin-top: 18px;
      display: flex;
      .left {
        height: 100%;
        flex: 1;
        border-right: 1px solid #ebebeb;
        .head {
          padding: 29px 25px 20px 25px;
          color: #222222;
          font-size: 20px;
          font-weight: bold;
          letter-spacing: 0;
          line-height: 27px;
          border-bottom: 1px solid #ebebeb;
        }
        .wrapper {
          padding: 24px;
          .title {
            color: #222222;
            font-size: 20px;
            font-weight: bold;
            letter-spacing: 0;
            line-height: 27px;
            margin-top: 60px;
          }
          .row {
            display: flex;
            align-items: center;
            margin-bottom: 24px;
          }
          .col {
            flex: 1
          }
          .col2 {
            flex: 2
          }
          ul {
            padding-left: 20px;
          }
          li {
            margin-bottom: 8px;
          }
          .logoWrapper {
            width: 40px;
            border: 1px solid #ebebeb;
            border-radius: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            .logo {
              max-width: 100%;
            }
          }
          .companyName {
            color: #222222;
            font-size: 16px;
            font-weight: bold;
            letter-spacing: 0;
            line-height: 22px;
            margin-bottom: 0;
            margin-left: 8px;
          }

          .label {
            color: #999999;
            font-size: 14px;
            font-weight: 600;
            letter-spacing: 0;
            line-height: 19px;
            margin-bottom: 8px;
          }
          .value {
            color: #222222;
            font-size: 16px;
            font-weight: bold;
            letter-spacing: 0;
            line-height: 22px;
            margin-bottom: 16px;
            display: block;
          }
          a.value {
            color: #7B68EE;
          }
          .attachment {
            display: flex;
            align-items: center;
          }
          .link {
            color: #7B68EE;
            font-size: 14px;
            font-weight: 600;
            letter-spacing: 0;
            line-height: 19px;
            margin-left: 8px;
          }
        }

        .mt40 {
          margin-top: 40px;
        }
      }
      .right {
        width: 360px;
        padding: 24px;
        background-color: #FAFAFA;
        .rowBetween {
          display: flex;
          align-items: flex-end;
          justify-content: space-between;
          margin-bottom: 32px;
        }
        .title {
          color: #222222;
          font-size: 20px;
          font-weight: bold;
          letter-spacing: 0;
          line-height: 27px;
          margin-bottom: 0;
        }
        .totalMembers {
          color: #999999;
          font-size: 14px;
          font-weight: 600;
          letter-spacing: 0;
          line-height: 19px;
          margin-bottom: 0;
        }
        .user {
          display: flex;
          align-items: center;
          margin-bottom: 32px;
        }
        .avatar {
          width: 40px;
          height: 40px;
          margin-right: 8px;
        }
        .info {
          flex: 1
        }
        .fullName {
          color: #222222;
          font-size: 16px;
          font-weight: bold;
          letter-spacing: 0;
          line-height: 22px;
          margin-bottom: 4px;
        }
        .email {
          color: #666666;
          font-size: 12px;
          font-weight: 600;
          letter-spacing: 0;
          line-height: 16px;
          margin-bottom: 0;
        }
      }
    }
  }
}
