.container {
  .title {
    font-weight: 500;
    font-size: 28px;
    line-height: 33px;
    color: #000000;
    margin-bottom: 18px;
    text-align: center;
  }

  .btnChangePassword {
    height: 40px;
    width: 198px;
    background: #7463FC;
    border-radius: 6px;
    margin: 0 auto;
    border: 0;
    text-align: center;
    line-height: 40px;
    font-weight: bold;
    font-size: 17px;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}