.container {
  height: 24px;
  border-radius: 11px;
  background-color: #EBF7FF;
  padding: 0 13px;
  color: #609CF3;
  font-size: 12px;
  letter-spacing: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 4px;
  text-transform: capitalize;
}

.private {
  background-color: #EBEBEB;
  color: #999999;
}
