.container {
  height: 24px;
  padding: 0 13px;
  border-radius: 11px;
  background-color: #E9FFEC;
  color: #26AF39;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.finish {
  background-color: #EBEBEB;
  color: #999999;
}
