.container {
  .title {
    color: #222222;
    font-size: 32px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 43px;
    margin-bottom: 8px;
    text-align: center;
  }

  .note {
    font-size: 16px;
    color: #666666;
    margin-bottom: 32px;
    text-align: center;
  }

  .btnLogin {
    height: 48px;
    border-radius: 6px;
    background-color: #7B68EE;
    box-shadow: 0 2px 5px 0 #B7AEEB;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 22px;
    width: 100%;
    border: 0;
    outline: 0;
  }
}
