.messages {
  background-color: #ffffff;
  height: 100%;
  overflow-y: auto;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  .loader {
    text-align: center;
  }
  .message {
    margin-bottom: 4px;
  }
  .owner {
    
  }
  .messageContent {
    flex: 1;
    .name {
      text-align: right;
      margin-bottom: 4px;
      font-size: 12px;
      color: #666666;
    }
    .nameLeft {
      margin-bottom: 4px;
      font-size: 12px;
      color: #666666;
    }
    .otherAdmin {
      font-weight: bold;
      color: #222020;
    }
  }
  .messageContentRight {
    text-align: right;
  }
  .admin {
    display: flex;
    justify-content: flex-end;
  }
  .owner {
    display: flex;
  }
  .ownerText {
    max-width: 600px;
    padding: 10px 20px;
    background-color: #eeeeee;
    border-radius: 8px;
    display: inline-block;
    margin-right: 46px;
  }
  .otherAdminText {
    background-color: #cedcd3;
  }
  .adminText {
    max-width: 600px;
    padding: 10px 20px;
    background-color:#E4E1FC;
    border-radius: 8px;
    display: inline-block;
    margin-left: 46px;
    position: relative;
    .loadingMessage {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: -30px;
    }
  }
  .text {
    font-size: 14px;
    color: #333333;
    margin-bottom: 0;
    word-break: break-all;
  }
  .pinetreeLogo {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-left: 8px;
  }
  .photoWrapper {
    width: 200px;
    height: 200px;
    display: inline-flex;
    align-self: center;
    justify-content: center;
    background-color: #f8f8f8;
    border-radius: 4px;
  }
  .photo {
    max-height: 200px;
    max-width: 100%;
    min-height: 24px;
    width: auto;
    border-radius: 18px;
  }
  .photoUser {
    width: auto;
  }

  .btnPhoto {
    border: none
  }
  .defaultAvatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 8px;
  }
  .emptyLogoOther {
    width: 40px;
    height: 40px;
    margin-right: 8px;
  }
  .emptyLogo {
    width: 20px;
    height: 20px;
    margin-left: 8px;
  }
  .messageTime {
    font-size: 9px;
    color: #868686;
  }
  .ownerTime {
    font-size: 12px;
    color: #868686;
    text-align: left;
    margin-bottom: 6px;
    b {
      color: #333333
    }
  }
  .adminTime {
    font-size: 12px;
    color: #868686;
    text-align: right;
    margin-bottom: 6px;
  }
}
.imgBg {
  width: 100%;
  height: 100%;
  background-color: transparent;
  align-items: center;
  position: relative;
}

.lagerPhoto {
  max-width: 100%;
  max-height: 100%;
  // height: auto;
  object-fit: cover;
  display: block;
  margin: auto;
  
}

.fromUserChat {
  background-color: #f1f3f6;
  max-height: 450px;
  // height: auto;
  overflow-y: auto;
  // display: flex;
  // flex-direction: column-reverse

  @media (max-width: 767px) {
    max-height: calc(100vh - 110px);
  }
}

.file {
  width: 200px;
  height: 200px;
  border-radius: 4px;
  background-color: #f8f8f8;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  span {
    font-size: 15px;
    color: #333333;
    margin-top: 10px;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 180px;
    height: 1.2em;
    white-space: nowrap;
    text-align: center;
  }
}
